<div class="page-header" style="text-align: center">All posts</div>
<!div class="container-fluid" style="display: flex">
<%#if .present? %>
<%# @posts = Post.all %>
<% @posts.each do |post| %>
  <div id="user-container">
    <div class="card">
      <img class="card-img-top" src="/user.png" alt="Card image cap">
      <b><h3 class="card-title"><%= post.title %></h3></b>
    <div><%= truncate(post.body, :length => 70) %></div>
    <div>
       <%= link_to 'Show post', user_post_path(post.user_id, post) %>
    </div>
  </div>
    <% end %>
</div>

